<head>

</head>

<body>

    <header>
        <h1 class="pageTitle">Medals per Country</h1>

    </header>

    <main>

        <div class="stats">

            <h2>
                <p>Numbers of JOs</p>
                <p class="data">{{ numberOfJOs }}</p>
            </h2>
            <h2>
                <p>Numbers of countries</p>
                <p class="data"> {{ numberOfCountries}}</p>
            </h2>

        </div>

        <div class="graph">
            <app-dashboard-chart>
            </app-dashboard-chart>
        </div>

    </main>
</body>